alignAll()
  .flexbox &
    display flex
    align-items center
    justify-content center
  .no-flexbox & > *
    display block
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
