h1
  font-family gotham
  font-size 138px
  margin 0 0 0px 0
  text-transform uppercase
  +below('m')
    font-size 100px
  +below('xs')
    font-size 60px
h2
  font-family gotham
  font-size 72px
  margin 0
  text-transform uppercase
  +below('m')
    font-size 60px
  +below('xs')
    font-size 30px
  +below('xxs')
    font-size 26px
h3
  margin 0
  font-size 14px
h4
  margin 0
  font-size 36px
  +below('m')
    font-size 28px
  +below('s')
    font-size 20px
p
  font-size 16px
  line-height 2
  +below('s')
    font-size 14px
    line-height 1.5
