@import "../node_modules/rupture/rupture/index.styl";
@import "../node_modules/nk-css-reset/index.css";
@import "../node_modules/nk-css-utils/index.css";
@import "../node_modules/stylus-easing/index.styl";

html
  height 100%
body
  background black
  color white
  min-height 100%
  height 100%
  -webkit-font-smoothing antialiased
  overflow hidden
  img
    position absolute
    left 50%
    display block
    transform translateX(-50%)
  .ctr
    top 30px
    width 500px
  .elegance
    bottom 30px
    width 400px
