path = '../images/layout/'
grey =  #3b3b3b
lgrey =  #C2C2C2
white = #fff
black = #111111
blue = #45BEE5
helveticaThin  = 'HelveticaNeue Thin', Helvetica, sans-serif
helveticaLight = 'HelveticaNeue Light', Helvetica, sans-serif
gotham = 'Gotham Black', Gotham, sans-serif
